body {
  background: #ecd4c6;
  color: rgb(13, 13, 13);
  font-family: sans-serif;
}
h1 {
text-shadow: 2px 2px #46485c;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
a {
  color: #46485c;
  text-decoration: none;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
.form {
    text-align: center;
  width: 300px;
  opacity: 1;
  animation: fade 2s linear;
  position: absolute;
  top: 50%;
  left: 50%;
 background-color: black;
  margin: -184px 0px 0px -155px;
  background: rgba(187, 136, 121, 0.774);
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}
input[type="text"],input[type="email"],input[type="password"] {
  width: 250px;
  padding: 25px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.04);
  outline: none;
  color: #FFFFFF;
}
input[type="submit"] {
  background-color: rgb(85, 12, 12);
  border: 0;
  width: 250px; 
  
  height: 40px;
  border-radius: 3px;
   margin-top: 20px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

placeholder {
  color: #46485c;
 transition: all 0.2s linear;
  transform: translate(10px, 0);
  opacity: 0;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: all 0.2s linear;
  transform: translate(10px, 0);
  opacity: 0;
}

input[type=text], input[type=password]{
    width:100%;
    border:2px solid rgb(255, 255, 255);
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }

  input[type=text]:focus{
    border-color:rgb(255, 255, 255);
    box-shadow:0 0 8px 0 rgb(255, 255, 255);
  }

  input[type=password]:focus{
    border-color:rgb(255, 255, 255);
    box-shadow:0 0 8px 0 rgb(255, 255, 255);
  }
  
  .inputWithIcon input[type=text], input[type=password]{
    padding-left:40px;
  }
  
  .inputWithIcon{
    position:relative;
  }
  
  .inputWithIcon i{
    position:absolute;
    left:0;
    top:8px;
    padding:9px 8px;
    color:rgb(255, 255, 255);
    transition:.3s;
  }
  
  .inputWithIcon.inputIconBg i{
    background-color:rgb(255, 255, 255);
    color:#fff;
    padding:9px 4px;
    border-radius:4px 0 0 4px;
  }
